html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.form {
  padding: 50px;
}

.control input {
  max-width: 300px;
}

div.navbar-brand {
  padding-left: 30px;
}

div.field-body {
  max-width: 300px;
  padding-bottom: 10px;
}

div.navbar-menu.is-active {
  background: #f5f5f5;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-containee {
  flex: 1;
}

div.hero-title {
  padding-top: 50px;
  text-align: center;
}

div.hero-body {
  text-align: center;
}

div.hero-footer {
  text-align: center;
  padding-bottom: 25px;
}

.NavMargins {
  margin: 2rem 0 0 2rem;
}
